
* {
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    width: 100%;
    height: 50px;
    background-color: rgb(105, 115, 248);
    color: white;
}

header .topo {
    display: flex;
    width: 100%;
    height: 50px;
    align-items: center;
    justify-content: center;
}

.topo span {
    font-weight: bold;
    color: #ffff;
    font-family: "Press Start 2P", system-ui;
    font-size: 1.5rem;
}

main {
    display: flex;
    width: 100%;
    height: auto; /* Mudei de 80vh para auto */
    margin-top: 40px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.cadastro__produtos {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.inputs form {
    display: flex;
    flex-direction: column;
    width: 200px;
    padding: 20px;
    gap: 10px;
}

input {
    border-radius: 10px;
    padding: 8px;
    border: solid 1px blue;
}

.inputs {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.btns{
    display: flex;
    gap: 10px;
}

.btn__cadastrar {
    width: 110px;
    border-radius: 5px;
    background-color: rgb(56, 56, 245);
    color: white;
    padding: 5px;
}

.btn__limpar {
    width: 110px;
    border-radius: 5px;
    color: rgb(9, 43, 235);
    padding: 5px;
}

.lista__produtos {
    display: flex;
    width: 100%;
    margin-top: 20px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 20px 0; /* Adicionado padding para espaçamento */
}
.sem__produtos{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.cards {
    display: flex;
    gap: 20px;
    width: 100%;
    margin-top: 20px; /* Ajustado para um valor menor */
   
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    /* grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); */
}

/* Estilos do card de produto */
.card {
    width: 180px;
    height: 180px;
    background-color: rgb(63, 55, 175);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px;
    border-radius: 10px;
    overflow: hidden;
}
.card__topo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-bottom: 10px;
    font-size: 25px;
}
.lixeira__preco{
    display: flex;
    width: 100%;
    flex-direction: row-reverse;
    /* border:  solid 1px rgb(248, 248, 247); */
    justify-content: space-around;
}
.btn__deletar{
    /* color: white; */
    background-color: rgb(63, 55, 175);
    color: white;
    border: none;
}


.card img {
    max-width: 120px;
    max-height: 100px;
    border-radius: 5px;
}

footer {
    display: flex;
    width: 100%;
    height: 80px;
    background-color: rgb(105, 115, 248);
    color: white;
    position: fixed;
    bottom: 0;
    align-items: center;
    justify-content: center;
}

.rodape span {
    font-weight: bold;
    color: #ffff;
    font-family: "Press Start 2P", system-ui;
    font-size: 1.5rem;
    margin-bottom: 18px;
}

/* Estilos responsivos */
@media (min-width: 768px) and (max-width: 1024px) {
    .cards {
        grid-template-columns: repeat(2, 1fr); /* Dois produtos por linha */
    }
}

@media (min-width: 1025px) {
    main{
        flex-direction: row-reverse;
        margin-top: 50px;
       
        /* gap: 50rem; */
    }
    .lista__produtos {
        display: flex;
        width: 70%;
        /* margin-top: 20px;
        align-items: center;
        justify-content: center;
        flex-direction: column; */
        padding: 10px 0; /* Adicionado padding para espaçamento */
        margin-right: 250px;
          /* border: solid 1px black; */
    }



/* ainda falta ajustar */

.cadastro__produtos { 
    display: flex;
    width: 30%;
    flex-direction: column;
    align-items: center;
    /* border: solid 1px black; */
    position: fixed;
    right: 0;
    top: 55px; /* Ajuste aqui a altura do header */
    height: calc(100% - 50px); /* Altura da tela menos o espaço do header */
    overflow-y: auto;
}

.inputs {
    margin-bottom: 240px; /* Defina uma unidade válida */
    width: 100%; /* Para que ocupe a largura da seção */
}


    
    




    .cards {
        grid-template-columns: repeat(3, 1fr); /* Três produtos por linha */
    }
}

